/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

.page-container {
	@apply mx-auto px-4 max-w-7xl;
}

.panel-container-columns {
	@apply flex flex-col gap-4;
}

.table thead th {
	@apply p-1;
}

.table tbody th {
	@apply p-1;
}

.table tbody td {
	@apply p-1;
}

.variant-transparent {
	@apply bg-transparent dark:bg-transparent border-none;
}
